<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chatper.title %>
</p>

<p>
  <strong>Img:</strong>
  <%= @chatper.img %>
</p>

<p>
  <strong>Content:</strong>
  <%= @chatper.content %>
</p>

<p>
  <strong>Course:</strong>
  <%= @chatper.course_id %>
</p>

<%= link_to 'Edit', edit_chatper_path(@chatper) %> |
<%= link_to 'Back', chatpers_path %>
