<%= form_for(@course,:html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @course.errors.any? %>
	<div class="alert alert-block alert-error">
		<a class="close" data-dismiss='alert' href="#">x</a>
		<p><strong>有<%=@course.errors.count%>处问题导致无法提交:</strong></p>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
	<legend>课程基本信息</legend>
 </fieldset>
 <div class="control-group">
    <%= f.label :name,:class=>"control-label" %>
    <div class="controls">
    <%= f.text_field :name %>
    </div>
</div>
<div class="control-group">
    <%= f.label :author,:class=>"control-label" %>
    <div class="controls">
    <%= f.text_field :author %>
  </div>
</div>
 <div class="control-group">
    <%= f.label :description,:class=>"control-label"%>
    <div class="controls">
    <%= f.text_field :description %>
	</div>
</div>
 <div class="control-group">
    <%= f.label :content,:class=>"control-label"%>
    <div class="controls">
    <%= f.text_area :content %>
	</div>
</div>
<div class="control-group">
	<div class="controls">
    	<%= f.submit "提交", :class => "btn btn-primary" %>
        <%= link_to '返回', courses_path ,:class => "btn"%>
  	</div>
</div>
<% end %>
