<div class="hero-unit">
	<h1> <%= @course.name %></h1>
	<small><%=@course.description %></small>	
	<p class="text-info">
		<%= raw @course.content %>
	</p>
	<p class="text-info">作者:<%= @course.author %>
  </p>
</div>


<%if @course.chapters.count%>
<div class="span8">
	<h2>章节信息</h2>
	
<% @course.chapters.each do |chapter| %>
	<%=render 'chapters/chapter' ,:chapter=>chapter%>
<% end %>

<%else%>
<div class="alert">
  	 暂无相应章节信息
</div>
<%end%>
</div>

