<p id="notice"><%= notice %></p>
	
<div class="hero-unit">
	<h1> <%= @course.name %></h1>
	<small><%=@course.description %></small>	
	<p class="text-info">
		<%= raw @course.content %>
	</p>
	<p class="text-info">作者:<%= @course.author %>
  </p>
</div>
<ul>

<%if @course.chapters.count%>

<% @course.chapters.each do |chapter| %>
	<%=render 'chapters/chapter' ,:chapter=>chapter%>
<% end %>
	<div class="alert">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  	 暂无相应章节信息
	</div>
<%else%>
<%end%>
</ul>
