<% content_for :head do %>
  <%= meta_tag('chapter-url', @chapter.video_url) %>
<% end %>




<div class="row-fluid">
	<div class="row-fluid">
		<div class="span8">
			<%= render "shared/video_player"%>
		</div>
		<div class="span4">
			<ul class="nav nav-tabs" id="myTab">
			  <li class="active"><a href="#home">章节信息</a></li>
			  <li><a href="#profile">讲解</a></li>
			  <li><a href="#messages">Messages</a></li>
			  <li><a href="#settings">Settings</a></li>
			</ul>

			<div class="tab-content">
			  <div class="tab-pane active" id="home">
				<p id="notice"><%= notice %></p>

				<p>
		  			<strong>Title:</strong>
		  			<%= @chapter.title %>
				</p>
				<p>
		 			<strong>Course:</strong>
		  			<%= @chapter.course_id %>
				</p>
			  </div>
			  <div class="tab-pane" id="profile">
			  	<%=raw @chapter.body_html %>
			  </div>
			  <div class="tab-pane" id="messages">...</div>
			  <div class="tab-pane" id="settings">...</div>
			</div>
		</div>
	</div>
</div>