<% content_for :head do %>
  <%= meta_tag('chapter-url', @chapter.video_url) %>
<% end %>




<div class="row-fluid">
	<div class="row-fluid">

		<div class="span4">
			<ul class="nav nav-tabs" id="myTab">
			  <li class="active"><a href="#home">章节信息</a></li>
			  <li><a href="#profile">讲解</a></li>
			  <li><a href="#messages">问题</a></li>
			</ul>

			<div class="tab-content">
			  <div class="tab-pane active" id="home">
		  			<h4><%=@chapter.course.name%></h4>
		 			<h5><%= @chapter.title %></h5>	
					<%=@chapter.description%>
			  </div>
			  <div class="tab-pane" id="profile">
				  	<%=raw @chapter.body_html %>
			  </div>
			  <div class="tab-pane" id="messages">...</div>
			</div>
		</div>
		<div class="span8">
			<%= render "shared/video_player"%>
		</div>
	</div>
</div>