<!DOCTYPE html>
<html>
<head>
  <title>Lesson</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container root_container">
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li><%= link_to("首页",root_path)%></li>
					<li><%= link_to("课程",courses_path)%></li>
					<li><%= link_to("章节",chapters_path)%>
				</ul>
				<ul class="nav pull-right">
					<% if current_user %>
					<li><%=link_to("管理" ,cpanel_root_path,:method=>:get)%></li>
					<li><%=link_to("登出" ,destroy_user_session_path,:method=>:delete)%></li>
					<%else%>
					<li><%= link_to("登陆",new_user_session_path,:method=>:get)%></li>
					
					<%end%>
                </ul>
			</div>
		</div>
	</div>
	<div class="container">
		
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span2">		    
		    	<ul class="nav nav-list">
				  <li class="nav-header">管理工具首页</li>
					<li><%=link_to("管理工具首页",cpanel_root_path)%></li>
		        	<li class="nav-header">课程信息管理</li>
		          	<li>	<%=link_to("课程管理",cpanel_courses_path)%></li>
		          	<li>	<%=link_to("新建课程",new_course_path)%></li>
		          	<li>	<%=link_to("章节管理",cpanel_chapters_path)%></li>
		          	<li>	<%=link_to("新建章节",new_chapter_path)%></li>
		
		
		        </ul>
			</div>
		    <div class="span10">
				<%if notice%>
				<div class="alert alert-info">
					<a class="close" data-dismiss='alert' href="#">x</a>
				<p id="notice"><%= notice %></p>
				</div>
				<%end%>
				<%=yield%>
			</div>
		  </div>
		</div>
	</div>
	</div>
</body>
</html>
